.mat-button {
  background: $berkeley-blue-dark !important;
  color: #ffffff !important;
  width: 100px;
}

.mat-button.warn {
  background: $warn !important;
}

.mat-button:hover,
.mat-button:active {
  opacity: 0.7;
  transition: .3s all linear;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $berkeley-blue-dark;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: $berkeley-blue-dark;
  background-color: $berkeley-blue-dark;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $berkeley-blue-dark;
}

.mat-checkbox.mat-checkbox-checked .mat-checkbox-icon:after {
  display: none;
}

.mat-checkbox-layout {
  display: block !important;
  width: 100%;
}

.mat-ripple-element {
  background: $berkeley-blue-dark !important;
}
