#container-table {
  border: 1px solid $container-border-color;

  .mat-row:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: .2s all linear;
  }

  .mat-cell {
    border: none;
  }

  .mat-row:nth-child(odd) {
    background-color: $container-background;
  }
}

.mat-paginator {
  border: 1px solid $container-border-color;
}
