<h4 class="mat-dialog-title">Look up organization</h4>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Enter organization name</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input id="organization-search" type="text" matInput
           [formControl]="lookUpControl" [matAutocomplete]="auto" aria-label="Search">
    <button mat-button matSuffix mat-icon-button
            [ngClass]="{ invisible: !lookUpControl.value }" (click)="lookUpControl.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let organization of lookUpResults | async" (click)="fetchOrganization(organization.id)">
        {{ organization.name }} ({{ country(organization.address.country) }})
      </mat-option>
      <mat-option id="option-create-org" (click)="openReviewDialog(null)">
        Create New Organization
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
  <button mat-button class="warn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
