
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat-palette($mat-indigo);
$client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$client-theme: mat-light-theme($client-primary, $client-accent, $client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($client-theme);

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// color codes
$darkBlue: #084e83;
$midBlue: #0c6099;
$lightBlue: #4885af;
$containerBackground: #eaecee;
$containerBorder: #d9d9d9;

// dimensions
$headerHeight: 80px;
$borderRadius: 4px;
$containerPadding: 16px;

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.content {
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .content {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    max-width: 1140px;
  }
}

a {
  text-decoration: none;

  &:not(.mat-button):not(.mat-raised-button):not(.mat-menu-item):not(.mat-flat-button):not(.mat-stroked-button):not(.mat-tab-link) {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

strong, b {
  font-weight: 500;
}

.heading, .mat-typography .heading {
  margin-left: 16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
  height: calc(100% - #{$headerHeight});
}

.container {
  text-align: center;
  border-radius: $borderRadius;
  background: $containerBackground;
  border: 1px solid $containerBorder;
  padding: 20px;
}

.mat-button {
  background: $darkBlue;
  box-shadow: 0 4px 6px #05365b;
  color: #ffffff;
}

.mat-button:hover,
.mat-button:active {
  background: $lightBlue;
  transition: .3s all linear;
}

.mat-divider {
  border-color: $containerBorder;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $darkBlue;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: $darkBlue;
  background-color: $darkBlue;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $darkBlue;
}

.mat-ripple-element {
  background: $darkBlue !important;
}


