.mat-toolbar {
  .mat-form-field {
    background: $berkeley-blue-dark;
    border-radius: $border-radius;
  }

  .mat-focused,
  .cdk-focused {
    background: $berkeley-blue-light;
    transition: ease-in .4s;
  }

  .mat-icon-button {
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    box-shadow: none;
    background: transparent;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline:hover {
  color: $berkeley-blue-dark !important;
}
