@import "../../styles";

.container {
  height: 50%;

  .inner-container {
    padding: $containerPadding;

    h1 {
      text-align: left;
    }

    p {
      font-size: 16px;
    }

    .mat-button {
       width: 100px;
     }
  }
}
