@import "../../styles";

.content {
  height: auto;
  margin-top: 12%;

  .container {
    margin: 4px 0;
    padding: $containerPadding;
    text-align: left;

    h1 {
      text-align: left;
    }

    p {
      font-size: 16px;
    }

    mat-divider {
      margin: 0 auto;
      width: 50%;
    }
  }
}
