@import "../../styles";

.mat-toolbar {
  background: $midBlue;
  color: #ffffff;
  padding: 0;
  height: $headerHeight;

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  .mat-focused,
  .cdk-focused {
    background: $lightBlue !important;
    transition: ease-in .4s;
  }

  mat-toolbar-row {
    height: 100%;
    margin: 0 auto;
    padding: 0;

    form {
      width: 50%;
      .mat-form-field {
        font-size: 14px;
        background: $darkBlue;
        border-radius: $borderRadius;
        box-shadow: 0 4px 6px #05365b;
        padding-left: 8px;
        padding-top: 2px;
        width: 100%;
      }
    }

    .mat-button {
      background: $darkBlue;
      box-shadow: 0 4px 6px #05365b;
      padding: 8px;
      margin-left: 8px;
      width: 90px;
    }
  }
}
