<h2 class="mat-dialog-title primary">
    Organization Information
    <span fxFlex="1 1 auto"></span>
    <span *ngIf="disableControl && !!organization.controls.created.value">
      Created on: {{ formatDate(organization.controls.created.value) }}
    </span>
  </h2>
<mat-dialog-content>
<form fxLayout="row wrap" fxLayoutGap="1%" [formGroup]="organization">
    <div fxLayout="column" fxFlex.lt-md="100" fxFlex.gt-sm="49">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Website</mat-label>
          <input matInput formControlName="website" />
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline" required>
          <mat-label>Region</mat-label>
          <mat-select formControlName="region" [compareWith]="compareId">
            <mat-option *ngFor="let region of regions" [value]="region">
              {{ region.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex.lt-md="100" fxFlex.gt-sm="49" formGroupName="address">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Street</mat-label>
          <input matInput formControlName="street" />
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>State</mat-label>
          <input matInput formControlName="state" />
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Zip</mat-label>
          <input matInput formControlName="zip" />
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" [compareWith]="compareCode" required>
            <mat-option *ngFor="let country of countries" [value]="country">
              {{ country.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <p fxFlexFill>
        <mat-form-field appearance="legacy" fxFlexFill>
            <textarea matInput formControlName="description" placeholder="{{ mode == Mode.EDIT ? 'Write about your organization' : 'Organization description'}}" rows="4"></textarea>
        </mat-form-field>
    </p>
    <p fxFlexFill>Affiliations: <i>{{ mode == Mode.EDIT ? 'Check all that may apply' : '' }}</i></p>
    <p fxLayout="row wrap" fxFlexFill>
        <mat-checkbox fxFlex.lt-md="100" fxFlex.gt-sm="50" color="primary"
            *ngFor="let affiliation of affiliations"
            [checked]="contains(organization.controls.affiliations.value, affiliation.id)"
            [hidden]="mode != Mode.EDIT && !contains(organization.controls.affiliations.value, affiliation.id)"
            [disabled]="mode != Mode.EDIT"
            (change)="update(organization.controls.affiliation, affiliation)">
            {{ affiliation.value }}
        </mat-checkbox>
    </p>
    <p fxFlexFill>Type:<i>{{ mode == Mode.EDIT ? ' Select one' : '' }}</i></p>
    <div>
        <mat-radio-group fxLayout="row wrap" (change)="radioChange($event)">
            <ng-container *ngIf="mode == Mode.EDIT">
                <ng-container *ngFor="let type of types">
                    <mat-radio-button fxFlex.lt-md="100" fxFlex.gt-sm="50" color="primary"
                        [checked]="organization.controls.type.value.id == type.id"
                        [value]="type">
                        {{ type.value }}
                    </mat-radio-button>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="mode != Mode.EDIT">
                <mat-radio-button fxFlex.lt-md="100" fxFlex.gt-sm="50" color="primary" [value]="organization.controls.type.value" disabled>
                    {{ organization.controls.type.value.value }}
                </mat-radio-button>
            </ng-container>
        </mat-radio-group>
    </div>
    <p fxFlexFill>
        <mat-form-field fxFlex="60" *ngIf="organization.controls.type.value.value === this.types.length">
            <input matInput placeholder="Describe here" formControlName="typeOther" />
        </mat-form-field>
    </p>
    <p fxFlexFill>Sectors:<i>{{ mode == Mode.EDIT ? 'Check all that may apply' : '' }}</i></p>
    <p fxLayout="row wrap" fxFlexFill>
        <mat-checkbox fxFlex.lt-md="100" fxFlex.gt-sm="50" color="primary"
            *ngFor="let sector of sectors"
            [checked]="contains(organization.controls.sectors.value, sector.id)"
            [hidden]="mode != Mode.EDIT && !contains(organization.controls.sectors.value, sector.id)"
            [disabled]="mode != Mode.EDIT"
            (change)="update(organization.controls.sectors, value)">
            {{ sector.value }}
        </mat-checkbox>
        <mat-form-field fxFlex="60" *ngIf="">
            <input matInput placeholder="Describe here" formControlName="sectorOther" />
        </mat-form-field>
    </p>
    <h4 class="mat-dialog-title primary">Contact Information</h4>
    <div fxLayout="row wrap">
        <ng-container *ngFor="let contact of contacts()" [formGroup]="contact">
            <mat-form-field appearance="legacy" fxFlex="25">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="legacy" fxFlex="25">
                <mat-label>Role</mat-label>
                <input matInput formControlName="role" />
            </mat-form-field>
            <mat-form-field appearance="legacy" fxFlex="25">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field appearance="legacy" fxFlex="25">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" />
            </mat-form-field>
        </ng-container>
    </div>
</form>
</mat-dialog-content>

<mat-divider></mat-divider>

<!-- <mat-dialog-actions fxLayout="row" style="padding-right: 100px">
    <span fxFlex="1 1 auto"></span>
    <button mat-button class="edit-btn" *ngIf="mode == Mode.VIEW" (click)="edit()">Edit</button>
    <button mat-button class="save" *ngIf="mode == Mode.EDIT" (click)="save()">Save</button>
    <span fxFlex="1 1 auto"></span>
</mat-dialog-actions> -->