.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.center {
  text-align: center;
}

.overflow-y {
  overflow-y: auto;
}

.inactive {
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms, visibilty 250ms;
}

.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms, visibilty 250ms;
}
