<div fxLayout="row" fxLayoutAlign="center center">
  <h3>Add Your Practice Experience</h3>
</div>
<ng-container *ngIf="firstPage">
  <h4 class="mat-dialog-title primary">Organization Information</h4>
  <mat-dialog-content>
    <form role="form" fxLayout="row wrap" fxLayoutGap="1%" [formGroup]="organizationFG()">
      <div fxLayout="column" fxFlex.lt-md="100" fxFlex.gt-sm="49">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Website</mat-label>
          <input matInput formControlName="website">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Region</mat-label>
          <mat-select formControlName="region" required>
            <mat-option *ngFor="let region of regions()" [value]="region.id">
              {{region.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex.lt-md="100" fxFlex.gt-sm="49" formGroupName="address">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Street</mat-label>
          <input matInput formControlName="street">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>City</mat-label>
          <input matInput formControlName="city">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>State</mat-label>
          <input matInput formControlName="state">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Zip</mat-label>
          <input matInput formControlName="zip">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" required>
            <mat-option *ngFor="let country of countries()" [value]="country.id">
              {{country.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p fxFlexFill>
        <mat-form-field appearance="legacy" fxFlexFill>
          <textarea matInput formControlName="description" placeholder="Write about your organization" rows="4"></textarea>
        </mat-form-field>
      </p>
      <p>Affiliations: <i>Check all that may apply</i></p>
      <p fxLayout="row wrap">
        <ng-container formArrayName="affiliations">
          <mat-checkbox *ngFor="let control of affiliationControls(organizationFG()); let i = index"
                        [formControl]="control"
                        fxFlex.lt-md="100" fxFlex.gt-sm="50" color="primary">
            {{affiliations()[i].value}}
          </mat-checkbox>
        </ng-container>
      </p>
      <p>Type: <i>Select one</i></p>
      <p>
        <mat-radio-group fxLayout="row wrap" formControlName="type">
          <ng-container *ngFor="let type of types()">
            <mat-radio-button fxFlex.lt-md="100" fxFlex.gt-sm="50" color="primary" [value]="type.id">
              {{type.value}}
            </mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </p>
      <p>Sectors: <i>Check all that may apply</i></p>
      <p fxLayout="row wrap">
        <mat-checkbox *ngFor="let control of sectorControls(organizationFG()); let i = index"
                      [formControl]="control"
                      fxFlex.lt-md="100" fxFlex.gt-sm="50" color="primary">
          {{sectors()[i].value}}
        </mat-checkbox>
      </p>
      <h4 class="mat-dialog-title primary">Contact Information</h4>
      <div fxLayout="row wrap">
        <ng-container *ngFor="let i of contactsIterator()">
          <mat-form-field appearance="legacy" fxFlex="25">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="contactControl(i, 'name')">
          </mat-form-field>
          <mat-form-field appearance="legacy" fxFlex="25">
            <mat-label>Role</mat-label>
            <input matInput [formControl]="contactControl(i, 'role')">
          </mat-form-field>
          <mat-form-field appearance="legacy" fxFlex="25">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="contactControl(i, 'email')">
          </mat-form-field>
          <mat-form-field appearance="legacy" fxFlex="25">
            <mat-label>Phone</mat-label>
            <input matInput [formControl]="contactControl(i, 'phone')">
          </mat-form-field>
        </ng-container>
      </div>
    </form>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
    <button mat-button class="warn" mat-dialog-close>Cancel</button>
    <button mat-button (click)="firstPage = !firstPage">Next ></button>
  </mat-dialog-actions>
</ng-container>
<ng-container *ngIf="!firstPage">
  <h4 class="mat-dialog-title primary">Practice Experience Information</h4>
  <mat-dialog-content>
    <form role="form" fxLayout="row wrap" fxLayoutGap="1%" [formGroup]="reviewFG()">
      <div fxLayout="row" fxLayoutGap="8px">
        <p>Was your PE site different from your organization address?</p>
        <mat-radio-group fxLayoutGap="8px" formControlName="siteLocState">
          <mat-radio-button color="primary" value="yes" [checked]="siteLocState" (click)="siteLocState = !siteLocState">Yes</mat-radio-button>
          <mat-radio-button color="primary" value="no" [checked]="!siteLocState" (click)="siteLocState = !siteLocState">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="column" fxFlex.lt-md="100" fxFlex.gt-sm="49" formGroupName="address" *ngIf="siteLocState">
        <mat-form-field appearance="outline">
          <mat-label>Street</mat-label>
          <input matInput formControlName="street">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput formControlName="city">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <input matInput formControlName="state">
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex.lt-md="100" fxFlex.gt-sm="49" formGroupName="address" *ngIf="siteLocState">
        <mat-form-field appearance="outline">
          <mat-label>Zip</mat-label>
          <input matInput formControlName="zip">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" required>
            <mat-option *ngFor="let country of countries()" [value]="country.id">
              {{country.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p fxFlexFill>
        <mat-form-field fxFlex.gt-sm="70">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let language of languagesPtr.value" (removed)="removeLanguage(language)">
              {{language.value}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Please list the languages spoken at your PE location"
                   #languageInput
                   [matAutocomplete]="auto"
                   [matChipInputFor]="chipList"
                   (keyup)="filterLanguages()">
          </mat-chip-list>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addLanguage($event)">
          <mat-option *ngFor="let language of filteredLanguages" [value]="language">
            {{language.value}}
          </mat-option>
        </mat-autocomplete>
      </p>
      <p fxFlexFill>
        <mat-form-field appearance="legacy" fxFlexFill>
          <textarea matInput formControlName="difficulties" placeholder="Did you have any language difficulties?" rows="4"></textarea>
        </mat-form-field>
      </p>
      <p>What were the sectors of your PE? <i>Check all that may apply</i></p>
      <p fxLayout="row wrap">
        <mat-checkbox *ngFor="let control of sectorControls(reviewFG()); let i = index"
                      [formControl]="control"
                      fxFlex.lt-md="100" fxFlex.gt-sm="50" color="primary">
          {{sectors()[i].value}}
        </mat-checkbox>
      </p>
      <p fxFlexFill>
        What was the cost of your PE? <i> All incurred costs (i.e. transportation, housing, etc)</i><br>
      </p>
      <div fxFlexFill>
        <div fxLayout="column" fxFlex.gt-sm="50">
          <span fxFlex>Cost of PE <i>(drag the slider)</i></span>
          <mat-slider formControlName="cost" color="primary" min="0" max="10000" step="100" thumbLabel [displayWith]="formatSliderLabel" required></mat-slider>
        </div>
        <div fxLayout="column" fxFlex.gt-sm="50">
          <span>Stipend paid by organization<i>(drag the slider)</i></span>
          <mat-slider formControlName="stipend" color="primary" min="0" max="10000" thumbLabel [displayWith]="formatSliderLabel" required></mat-slider>
        </div>
      </div>
      <p>What was the duration of your PE?</p>
      <p fxFlexFill>
        <mat-radio-group fxFlexFill formControlName="duration">
          <mat-radio-button color="primary" fxFlex="25" [value]="duration" *ngFor="let duration of durations">
            {{duration}}
          </mat-radio-button>
        </mat-radio-group>
      </p>
      <p fxLayout="column" fxFlexFill>
        <mat-form-field appearance="legacy">
            <textarea matInput formControlName="workDone"
                      placeholder="Please describe the work that you did with your organization (2 paragraphs)"
                      rows="4" required>
            </textarea>
        </mat-form-field>
      </p>
      <p fxLayout="column" fxFlexFill>
        <mat-form-field appearance="legacy">
            <textarea matInput formControlName="typicalDay"
                      placeholder="What was a typical day like while on your PE? (please consider housing, food, travel, weather, etc)"
                      rows="4">
            </textarea>
        </mat-form-field>
      </p>
      <p fxLayout="column" fxFlexFill>
        <mat-form-field appearance="legacy">
            <textarea matInput formControlName="evaluation"
                      placeholder="What were your organization's strengths and weaknesses? (2 paragraphs)"
                      rows="4" required>
            </textarea>
        </mat-form-field>
      </p>
      <p fxLayout="column" fxFlexFill>
        <mat-form-field appearance="legacy">
            <textarea matInput formControlName="other"
                      placeholder="Is there anything else you would like to share with other students who may work with this organization?"
                      rows="4">
            </textarea>
        </mat-form-field>
      </p>
      <p>How safe did you feel?</p>
      <p fxLayout="row" fxFlex="100">
        <mat-radio-group fxFlexFill formControlName="safety">
          <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
            <mat-radio-button color="primary" fxFlex="25" [value]="i">
              {{i}}{{i === 1 ? ' (very unsafe)': (i == 5 ? ' (very safe)': '')}}
            </mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </p>
      <p>How responsive was your organization?</p>
      <p fxLayout="row" fxFlex="100">
        <mat-radio-group fxFlexFill formControlName="responsiveness">
          <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
            <mat-radio-button color="primary" fxFlex="25" [value]="i">
              {{i}}{{i === 1 ? ' (rarely got back)': (i == 5 ? ' (right away)': '')}}
            </mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </p>
      <mat-slide-toggle labelPosition="before" formControlName="anonymous" [checked]>Post as anonymous?</mat-slide-toggle>
    </form>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
    <button mat-button (click)="firstPage = !firstPage">< Prev</button>
    <button mat-button (click)="submit()">Submit</button>
  </mat-dialog-actions>
</ng-container>
