.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
}

.table-footer {
  bottom: 0px;
  position: sticky;
  z-index: 10;

  .mat-paginator {
      border-left: none;
      border-right: none;
      border-bottom: none;
  }
}
