.mat-button {
  width: 200px;
}

.mat-divider {
  width: 50%;
  margin: 0 auto;
}

#filter-regions,
#filter-sectors {
  height: calc(100% - 500px);
  margin-left: -20px;
  margin-right: -20px;
  padding: 8px 20px 0;
}

#filter-regions {
  max-height: 250px;
}

#filter-sectors {
  max-height: 500px;
}

.mat-radio-button, .mat-checkbox {
  font-size: 0.9rem !important;
}
