<h2>Hi {{getFistName()}},</h2>
<p fxLayout="column" fxLayoutGap="8px">
  <span>Done with your experience?</span>
  <button mat-button (click)="openLookUpDialog()">+ Add Review</button>
</p>
<h2 class="mat-subheading-1" fxLayoutAlign="center center" id="filter-subheading">FILTER BY</h2>
<span class="mat-subheading-1">AREA</span>
<p>
  <mat-radio-group aria-label="Select Area" fxLayout="column" fxLayoutGap="4px" [formControl]="areaControl">
    <mat-radio-button color="primary" [value]="area.ALL">All</mat-radio-button>
    <mat-radio-button color="primary" [value]="area.DOMESTIC">Domestic</mat-radio-button>
    <mat-radio-button color="primary" [value]="area.INTERNATIONAL">International</mat-radio-button>
  </mat-radio-group>
</p>
<span class="mat-subheading-1">REGIONS</span>
<p class="overflow-y" id="filter-regions">
  <mat-checkbox color ="primary" fxLayout="row" [checked]="masterSelectedRegion" (change)="toggleSelectAllRegions()" > Select / Deselect All</mat-checkbox>
  <mat-checkbox color="primary" fxLayout="row"
                *ngFor="let item of checklistRegion; let i = index"
                [checked]="item.isSelected"
                (change)="onRegionChange(i)">
    {{ item.value }}
  </mat-checkbox>
  
</p>
<span class="mat-subheading-1">SECTORS</span>
<p class="overflow-y" id="filter-sectors">
  <mat-checkbox color ="primary" fxLayout="row" [checked]="masterSelectedSector" (change)="toggleSelectAllSectors()" > Select / Deselect All</mat-checkbox>
  <mat-checkbox color="primary" fxLayout="row"
                *ngFor="let item of checklistSector; let i = index"
                [checked]="item.isSelected"
                (change)="onSectorChange(i)">
    {{ item.value }}
  </mat-checkbox>
</p>
