@import '@angular/material/theming';

// Create a config with the default Angular Material typography levels
$config: mat-typography-config();

// media queries and breakpoints
$breakpoints: (
  xs: (
    min: 0px,
    max: 599.99px
  ),
  sm: (
    min: 600px,
    max: 959.99px
  ),
  md: (
    min: 960px,
    max: 1279.99px
  ),
  lg: (
    min: 1280px,
    max: 1599.99px
  ),
  xl: (
    min: 1600px,
    max: none
  )
);

$warn: #f44336;
$border-radius: 4px;
$header-height: 80px;
$berkeley-blue: #0c6099;
$berkeley-blue-light: #4885af;
$berkeley-blue-dark: #084e83;
$container-padding: 20px;
$container-background: #eaecee;
$container-border-color: #d9d9d9;
