<div fxLayout="row" fxLayoutAlign="center center">
  <h3 *ngIf="!disableControl">Add Your Practice Experience</h3>
  <h3 *ngIf="disableControl">Organization Info & Reviews</h3>
</div>

<ng-container>
<ng-container *ngIf="organizationView">
  <app-organization data="data"></app-organization>
</ng-container>
<ng-container *ngIf="!organizationView">
  <ng-container *ngIf="mode == Mode.READONLY">
    <app-reviews data="data"></app-reviews>
  </ng-container>
  <ng-container *ngIf="mode != Mode.READONLY">
    <app-review data="data"></app-review>
  </ng-container>
</ng-container>

  <mat-dialog-actions fxLayout="row" style="padding-right: 100px">
    <!-- <button mat-button class="edit-btn warn" *ngIf="disableControl && isAdmin()" (click)="editOrganization()">Edit</button> -->
    <!-- <button mat-button class="save" *ngIf="isEditOrganization" (click)="saveOrganization()" [disabled]="!organization.dirty">Save</button> -->
    <!-- <button mat-button class="warn" *ngIf="isEditOrganization" (click)="closeEditOrganization()"> Cancel</button> -->
    <span fxFlex="1 1 auto"></span>
    <!-- <button mat-button class="save" *ngIf="!isEditOrganization" (click)="saveOrganization()">Create</button> -->
    <button mat-button style="width: auto" (click)="segue()" *ngIf="organizationView && mode != Mode.EDIT">{{ mode == Mode.READONLY ? 'View Reviews for This Organization' : 'Add Review for This Organization' }}<mat-icon>navigate_next</mat-icon></button>
    <button mat-button style="width: auto" (click)="segue()" *ngIf="!organizationView && mode == Mode.READONLY"><mat-icon>navigate_before</mat-icon> Organization Information</button>
    <button mat-button class="warn" mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-container>