<div fxLayout="row" fxLayoutAlign="center center">
  <h3 *ngIf="!disableControl">Add Your Practice Experience</h3>
  <h3 *ngIf="disableControl">Organization Info & Reviews</h3>
</div>

<ng-container>
<ng-container *ngIf="organizationView">
  <h4 class="mat-dialog-title primary">
    Organization Information
    <span fxFlex="1 1 auto"></span>
    <span *ngIf="disableControl && !!organization.controls.created.value">
      Created on: {{ formatDate(organization.controls.created.value) }}
    </span>
  </h4>

  <app-organization data="data"></app-organization>
</ng-container>
<ng-container *ngIf="!organizationView">
  <app-review data="data"></app-review>
</ng-container>

  <mat-dialog-actions fxLayout="row" style="padding-right: 100px">
    <!-- <button mat-button class="edit-btn warn" *ngIf="disableControl && isAdmin()" (click)="editOrganization()">Edit</button> -->
    <!-- <button mat-button class="save" *ngIf="isEditOrganization" (click)="saveOrganization()" [disabled]="!organization.dirty">Save</button> -->
    <!-- <button mat-button class="warn" *ngIf="isEditOrganization" (click)="closeEditOrganization()"> Cancel</button> -->
    <span fxFlex="1 1 auto"></span>
    <!-- <button mat-button class="save" *ngIf="!isEditOrganization" (click)="saveOrganization()">Create</button> -->
    <button mat-button class="warn" mat-dialog-close>Cancel</button>
    <button mat-button style="width: auto" (click)="segue()" *ngIf="!isEditOrganization">{{ orgReviewBtnText }} <mat-icon>navigate_next</mat-icon></button>
    <!-- <span fxFlex="1 1 auto"></span> -->
  </mat-dialog-actions>
</ng-container>